* {
margin: 0;
padding: 0;
}
.wrapper{
    background-color: black;
    
}
.slackDisplayName{
    color: blue;
    padding-top: 2rem;
    text-align: center;
}
img{
  
}
.links{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}
.a-link{
    color: antiquewhite;
    text-decoration: none;
}
.data-item{
    color: antiquewhite;
}
